*{
    margin: 0;
    padding: 0;
}
:root{
    --dark: #120910;;
    --dark-blue: #12314a;;
    --blue: #156b94;;
    --blue-2: #20a6d8;;
    --light-blue: #20dbd8;
    --white:#fff;
}
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill,min-max(150px,1fr));   
    grid-template-areas:  
    "animes "
    "albumes "
    "libros "
    "mangas"
    "pel_ser"
    "videojuegos";
}

/*ANIME SECTION*/
.anime_link{ 

    margin-bottom: 10px;
    grid-area: animes;
    margin: 0 auto;
    width: 80%;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    background: url(Subpaginas/Animes/images/dio-portada.jfif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
}
.anime_title, .anime_para{
    padding: 10px;
    margin: 20px 0 30px 0;
}
.anime_para{
    filter: brightness(30%);
    color: aqua;
    background-color: var(--dark);
}

/*ALBUMES SECTION*/
.albumes_link{

    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    grid-area: albumes;
    height: 30vh;
    background: url(Subpaginas/Albumes/joji-portada.jfif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
}
.albumes_title{
    text-align: center;
    border-bottom: 2px solid;
}
.albumes_para{
    padding: 20px;
    font-size: 22px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;

}

/*LIBROS SECTION*/
.libros_link{
    
    grid-area: libros;
    height: 40vh;
    background: url(Subpaginas/Libros/images/libros-portada.jfif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.libros_title{
    padding: 20px;
    text-align: right;
    align-self: flex-end;
    word-spacing: 2px;
}
.libros_para{
    padding: 20px;
    font-size: 18px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;
    font-size: 20px;
}

/*MANGAS SECTION*/

.mangas_link{
    grid-area: mangas;
    height: 70vh;
    background: url(Subpaginas/Mangas/guts-portada.jfif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.mangas_title{
    padding: 20px;
    text-align: center;
    margin-top: 20vh;
    word-spacing: 2px;
    font-size: 40px;
    color: var(--white);
}
.mangas_para{
    padding: 20px;
    font-size: 18px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;
    font-size: 20px;
}

/*PELICULAS-SERIES SECTION Y CONTAINER*/

.container_p-s{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    grid-area: pel_ser;
}
.peliculas_link{
    height: 40vh;
    grid-area: peliculas;
    background: url(Subpaginas/Peliculas/imagenes/pelicula-portada.png);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.peliculas_title{
    padding: 20px;
    word-spacing: 2px;
    font-size: 30px;
    color: var(--white);
}
.peliculas_para{
    display: none;
    padding: 20px;
    font-size: 18px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;
    font-size: 20px;
}

/*SERIES SECTION*/


.series_link{
    height: 40vh;
    grid-area: series;
    background: url(Subpaginas/Series/Images/Series-portada.jfif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}
.series_title{
    padding: 20px;
    text-align: center;
    margin-top: 20vh;
    word-spacing: 2px;
    font-size: 20px;
    align-self: center;
    color: var(--white);
    font-size: 25px;
}
.series_para{
    display: none;
    padding: 20px;
    font-size: 18px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;
    font-size: 20px;
}

/*VIDEOJUEGOS SECTION*/

.videojuegos_link{
    grid-area: videojuegos;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    height: 50vh;
    background: url(Subpaginas/Videojuegos/Dark\ Souls\ Bonfire\ Lit\ \(1\).gif);
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border: var(--light-blue) 1px solid;
    border-radius: 30px;
}
.videojuegos_title{
    padding: 20px;
    text-align: center;
    margin-top: 20vh;
    word-spacing: 2px;
    font-size: 40px;
    color: var(--white);
}
.videojuegos_para{
    display: none;
    padding: 20px;
    font-size: 18px;
    color: var(--white);
    margin-top: 5px;
    overflow: hidden;
    font-size: 20px;
}

@media (min-width:650px) {
    .main{
        grid-template-areas: 
        "animes albumes libros mangas"
        "pel_ser albumes videojuegos mangas";
    }
    
    .anime_link{
        margin-left: 5vw;
        width: 20vw;
        height: 40vh;
    }
    .albumes_link{
        margin-top: 4em;
        height: 70vh;
        width: 15vw;
    }
    
    .container_p-s{
        position: relative;
        margin-left: 5vw;
    }
    .mangas_link{
        height: 90vh;
    }
    .videojuegos_link{
        height: 40vh;

    }
}

